
<div{{ attributes }}>

<img src="https://sleeknote.com/wp-content/uploads/2018/12/Seray-120x120.jpg" alt="LOGO">

  <p><span class="socialproof-text">{% trans %}
 <strong>{{ year }}</strong> people view this post this week.
  {% endtrans %}
  </span>



 </p>
</div>
